/** Блок с картой */
#map {
  background-color: var(--palette-black);
  height          : calc(100% - 4rem);
  width           : 50%;
  margin          : 2rem;
}

h3 {
  font-family   : 'Jost', sans-serif;
  font-style    : normal;
  font-weight   : normal;
  font-size     : 24px;
  line-height   : 35px;
  letter-spacing: 0.02em;
}


/** Блок с кнопкой заказа*/

div#bill {
  padding-left          : 2.6rem;
  border-top-left-radius: 50px;
  background            : var(--palette-black);
  box-shadow            : -3px -2px 4px rgb(0 0 0 / 25%);
  height                : 40%;
  padding-top           : 1.5rem;
  z-index               : 2;
  font-family           : 'Open Sans', sans-serif;
  color                 : var(--palette-white);
  display               : grid;
  grid-template-areas   :
    "userName userName userName userName userName userName userName userName userName"
    "col1 col1 col1 col2 col2 col2 col3 col3 col3"
    "price price price price price price button button button";
}

#priceDiv {
  display    : grid;
  align-items: end;
  grid-area  : price;
}

#balance {
  grid-area: col1;
}

#possibleDebt {
  grid-area: col2;
}

#personalSale {
  grid-area: col3;
}

#makeOrderDiv {
  grid-area     : button;
  display       : grid;
  vertical-align: bottom;
  align-content : stretch;
  align-items   : end;
}

#makeOrder {
  font-family   : 'Open Sans', sans-serif;
  font-style    : normal;
  font-weight   : normal;
  font-size     : 24px;
  line-height   : 33px;
  letter-spacing: 0.02em;
  border-radius : 10px;
  width         : 200px;
  height        : 60px;
  outline       : none;
  border        : none;
  background    : #0058ED;
  color         : white;
}

#orderDetails {
  height: 50%;

  display       : flex;
  flex-direction: row;
  align-items   : center;
}

#price {
  font-style    : normal;
  font-weight   : 600;
  font-size     : 32px;
  line-height   : 44px;
  letter-spacing: 0.02em;
}

label {
  font-family   : 'Open Sans', sans-serif;
  font-style    : normal;
  font-weight   : normal;
  font-size     : 18px;
  line-height   : 25px;
  letter-spacing: 0.02em;
  color         : #FFFFFF80;
}

h2#userName {
  color         : var(--palette-white);
  font-family   : 'Open Sans', sans-serif;
  font-style    : normal;
  font-weight   : normal;
  font-size     : 32px;
  line-height   : 44px;
  letter-spacing: 0.02em;
  grid-area     : userName;
}


p.bill {
  font-family   : 'PT Mono', monospace;
  font-style    : normal;
  font-weight   : normal;
  font-size     : 21px;
  line-height   : 29px;
  letter-spacing: 0.02em;
  margin        : 0;
}

p.userDetails {
  background-color: transparent;
  border          : none;
  outline         : none;
  border-bottom   : 2px solid var(--palette-white);
  color           : var(--palette-white);
  font-family     : 'Open Sans', sans-serif;
  font-style      : normal;
  font-weight     : normal;
  font-size       : 18px;
  line-height     : 25px;
  letter-spacing  : 0.02em;
  width           : 85%;
  line-height     : 2.5rem;
  margin-bottom   : 0.5rem;
  margin-top      : 0rem;
}