/** Шрифты */
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

/*? Подключение
  font-family     : 'Jost', sans-serif;
  font-family     : 'Open Sans', sans-serif;
  font-family     : 'PT Mono', monospace;
  font-family     : 'Merriweather', serif; Для личного кабинета
*/

/*? Лицензия Google Fonts
  Торжественно клянусь, что замышляю только шалость
*/

/** Цветовая палитра */
:root {
  --palette-background: #f7f7f7;
  --palette-blue: #0058ed;
  --palette-black: #000000;
  --palette-white: #f7f7f7;
  --palette-red: #f23924;
  --palette-gray: #b9b9b9;
}

/**------------------*/
html {
  height: 100%;
  background-color: var(--palette-background);
  min-width: 1366px;
  max-width: 3840px;
  min-height: 768px;
  max-height: 2160px;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

header {
  height: 70px;
  /* background-color: var(--palette-red); */

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: space-between;
  align-items: baseline;
  flex: 0 0 auto;
}

main {
  height: calc(100vh - 140px);

  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  align-content: stretch;
  flex-wrap: nowrap;
}

/* main div:nth-child(1) {
  background-color: var(--palette-blue);
} */

/* main div:nth-child(2) {
  background-color: var(--palette-white);
} */

main > div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.item {
  width: 33%;
  /* margin : 5px;
  padding: 5px; */
  flex: 0 1 auto;
}

footer {
  height: 70px;
  /* background-color: var(--palette-black); */

  display: flex;
  flex: 0 0 auto;
}
