.container {
  width     : 80%;
  margin-top: 20px;
  position  : relative;
  font-size : 0;
  display   : flex;
  overflow  : hidden;
}

.container>label.choiceTime {
  color: var(--palette-black);
}

.line {
  position     : absolute;
  border-radius: 5px;
  height       : 2px;
  background   : #1e88e5;
  width        : 20%;
  margin-left  : 2.5%;
  margin-right : 2.5%;
  top          : 34px;
  left         : 5%;
  transition   : 0.25s ease;
}

.palka {
  margin-top   : 5.5px;
  border-radius: 5px;
  width        : 2px;
  opacity      : 30%;
  background   : var(--palette-black);
  height       : 25px;
}

.choice-time-input {
  display: none;
}

input:checked+label.choiceTime {
  /* background: #eee; */
}

input#time-tab1:checked~.line {
  left: 0%;
}

input#time-tab2:checked~.line {
  left: 25%;
}

input#time-tab3:checked~.line {
  left: 50%;
}

input#time-tab4:checked~.line {
  left: 75%;
}

label.choiceTime {
  display       : inline-block;
  font-size     : 16px;
  height        : 36px;
  line-height   : 36px;
  width         : 25%;
  text-align    : center;
  /* background : #f4f4f4; */
  color         : black;
  position      : relative;
  transition    : 0.25s background ease;
  cursor        : pointer;

  font-family: Jost;
  font-style : normal;
  font-weight: normal;
  font-size  : 24px;
  line-height: 35px;
  /* identical to box height */

  letter-spacing: 0.02em;
}

label.choiceTime::after {
  content     : "";
  height      : 2px;
  width       : 80%;
  margin-left : 10%;
  margin-right: 10%;
  position    : absolute;
  display     : block;
  background  : var(--palette-gray);
  opacity     : 0;
  bottom      : 0;
  left        : 0;
  transition  : 0.25s ease;
}

label.choiceTime:hover::after {
  opacity: 1;
}