h2 {
  font-family   : 'Jost', sans-serif;
  font-style    : normal;
  font-weight   : 500;
  font-size     : 32px;
  line-height   : 46px;
  letter-spacing: 0.02em;
  margin        : 0;
}

section#sizes {
  margin-top: 5%;
  height    : 35%;
}

section#format {
  margin-top: 2.5%;
  height    : 40%;
}

section#time {
  height: 19.25%;
}